/* 07_custom_content.css */
/* TODO: 핸드폰 우선 디자인(약속) */
/* TODO: 전체박스(페이지) */
#page {width: 99vw; height: 99vh; margin: 0 auto;}
/* TODO: 메인이미지(배경이미지) */
.main-banner {
    width: 100%;
    height: 30%;
    background-image: url("https://picsum.photos/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* TODO: 본문 전체박스 */
.container {width: 100%; margin: 2rem auto;}
/* TODO: 본문 - 대표상품이미지(.content-box) */
.content-box {float: left; width:100%;padding: 5px;}
.content-box > img {
    max-width: 100%;
    height: auto;
}
/* TODO: 각 태그 float 인식 */
.clear {clear: both;}

/* TODO: 실제 상품 목록 */
/* TODO: 상품 제목 */
.product-area h2 {font-size: 1.5rem; padding: 1.5rem;}
/* TODO: 상품 메뉴(목록) */
.product-list li {float: left;width: 50%;border: 1px solid var(--blue-light-10);}
.product-list li a {
    display: block;
    height: 2.75rem;
    background-color: var(--blue-light-30);
    color: var(--white);
    /* TODO: flex 글자 가로/세로 중앙정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* TODO: 박스(.product, 가로크기) -> (img)상품 이미지(100%) */
.product {
    width:100%;
    float: left;
}
.product > img {
    max-width: 100%;
    height: auto;
}
/* TODO: 태블릿 */
@media screen and (min-width: 768px) {
    /* TODO: 화면의 여유가 있어서 여백을 줌 */
    .container {width: 90%;}
    /* TODO: 대표(추천) 상품 이미지 변경: .content-box */
    .content-box {width: 33%;}
    /* TODO: 목록: 외곽선해제, 가로(자동) */
    .product-list li {border: none; width: auto;}
    /* TODO: 실제 상품이미지(.product): 가로4개(25%) */
    .product {width: 25%;}
    /* TODO: 목록 색깔: 배경색(하얀색), 글자색(검은색) */
    /* TODO: 목록 여백 주기 */
    .product-list li a {background-color: white;color: black;
        padding: 1rem 0.6rem 1rem 0.6rem;}
}
/* TODO: pc */
@media screen and (min-width: 1024px) {
    .container {width: 60%;}
}